<p>This issue has been written about more extensively and eloquently elsewhere, so I'll be brief...</p>

<p>Women are still underrepresented in STEM fields. While many blame the pipeline instead of workplace culture, it's not an either-or situation, and there's <a href='http://www.npr.org/sections/alltechconsidered/2014/08/12/339638726/many-women-leave-engineering-blame-the-work-culture'>no shortage of anecdotal evidence</a> that tech can be a hostile place for women (aside: if you know good sources of aggregate statistics about industry retention rate for women in STEM vs other fields, please let me know on the feedback page!).</p>

<p>I imagine a few use cases for Demograph to help with this persistent issue:</p>
<ul>
  <li><span class="use-case">The attendee:</span> want to go to an event that's not a total sausagefest? Demograph will check for you so you know what you're getting into, can decide whether you want to bring friends/reinforcements, bail out, etc.</li>
  <li><span class="use-case">The event coordinator:</span> this is a metric you should be tracking! If your event is coming up and your gender ratio is imbalanced, you can try to proactively reach out to people or groups that will help fix it. Or review it as part of your event debrief, and set goals to improve that metric for future events. There are lots of organizations for women in STEM you could reach out to to try to bolster female attendance - there's no excuse for shrugging your shoulders and blaming it on the industry.</li>
  <li><span class="use-case">The watchdog group:</span> if a company claims to be woman-friendly, is it walk or talk? Do only men attend their events? Demograph can give you a data-driven way to call them out and persuade them to get on track.</li>
</ul>